{% extends './layouts/layout-main.njk' %}

{% block content -%}

    <section class="hero is-primary is-bold is-small has-mb-lg">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Cards
          </h1>
        </div>
      </div>
    </section>

    <section class="container">

      <div class="columns section">

        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img
                  src="http://via.placeholder.com/400x300"
                  alt="Placeholder image"
                />
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img
                      src="https://bulma.io/images/placeholders/96x96.png"
                      alt="Placeholder image"
                    />
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">John Smith</p>
                  <p class="subtitle is-6">@johnsmith</p>
                </div>
              </div>

              <div class="content">
                Odio etiam penatibus ultricies ligula leo ullamcorper mus tristique proin vestibulum semper aliquet, himenaeos congue imperdiet parturient purus placerat a inceptos faucibus eros rutrum.
                <br />
                <p datetime="2016-1-1" class="has-text-grey has-text-small has-mt-md">
                  Jan 1, 2016 — 11:09pm
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img
                  src="http://via.placeholder.com/400x300"
                  alt="Placeholder image"
                />
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img
                      src="https://bulma.io/images/placeholders/96x96.png"
                      alt="Placeholder image"
                    />
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">John Smith</p>
                  <p class="subtitle is-6">@johnsmith</p>
                </div>
              </div>

              <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                <a href="#">#css</a>
                <a href="#">#responsive</a>
                <br />
                <p datetime="2016-1-1" class="has-text-grey has-text-small has-mt-md">
                  Jan 1, 2016 — 11:09pm
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img
                  src="http://via.placeholder.com/400x300"
                  alt="Placeholder image"
                />
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img
                      src="https://bulma.io/images/placeholders/96x96.png"
                      alt="Placeholder image"
                    />
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">John Smith</p>
                  <p class="subtitle is-6">@johnsmith</p>
                </div>
              </div>

              <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                <a href="#">#css</a>
                <a href="#">#responsive</a>
                <br />
                <p datetime="2016-1-1" class="has-text-grey has-text-small has-mt-md">
                  Jan 1, 2016 — 11:09pm
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section>

{% endblock %}