{% extends './layouts/layout-main.njk' %}

{% block content -%}

<section class="section">
    <div class="level">
        <div class="level-item has-text-centered">
            <div>
                <i class="fas fa-book is-size-3 has-mb-sm"></i>
                <p class="is-size-5 has-text-weight-bold">Book</p>
                <p>And just a bunch of details.</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <i class="fas fa-book is-size-3 has-mb-sm"></i>
                <p class="is-size-5 has-text-weight-bold">Book</p>
                <p>And just a bunch of details.</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <i class="fas fa-book is-size-3 has-mb-sm"></i>
                <p class="is-size-5 has-text-weight-bold">Book</p>
                <p>Exposition stuff that don't mean a fucking thing.</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <i class="fas fa-book is-size-3 has-mb-sm"></i>
                <p class="is-size-5 has-text-weight-bold">Book</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <i class="fas fa-book is-size-3 has-mb-sm"></i>
                <p class="is-size-5 has-text-weight-bold">Book</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}